body{
    background-color: lightslategray;
}
.input{
    transition-duration: 1s;
}
#hello{
    font-size: 30px;
    font-variant: small-caps;
    font-family: monospace;
    text-align: center;
}
#form{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
    background-color: azure;
}
@keyframes error{
    from {
        border-color: black;
    }
    to{
        border-color: red;
    }
}
.text{
    animation-name: error;
    animation-duration: 4s;
    animation-iteration-count: 2;
    width: 60%;
    font-family: monospace;
    font-size: 20px;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
